
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.about {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: "Quicksand";
}

img {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 80%;
}

.social-icon {
  margin: 5px;
}

.social-icon:hover {
  transform: scale(1.2);
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

.details > div {
  margin: 5px;
}